nodered/aquaponics-flow
[{"id":"18a76e2.ca32492","type":"inject","z":"4d781efd.d24c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[[]]},{"id":"4e380667.303618","type":"pythonshell in","z":"4d781efd.d24c3","name":"lastSensorsReading","pyfile":"/home/pi/IoTAquaponics/BLE/PythonScripts/latestReading.py","virtualenv":"","continuous":false,"stdInData":false,"x":140,"y":260,"wires":[[]]},{"id":"383a500d.911cc","type":"function","z":"4d781efd.d24c3","name":"Format Data for MongoDB","func":"msg.payload = msg.payload.trim();//remove newline\nvar values = msg.payload.split(\",\");//break comma-seperated sensor values into an array\nvar sensorObject={};//create json object\nsensorObject[\"temperature\"]=values[0];//array element 1 becomes object member 1\nsensorObject[\"water-level\"]=values[1];//array element 2 becomes object member 2\nsensorObject[\"ph\"]=values[2];//array element 3 becomes object member 3\nsensorObject[\"EC\"]=values[3];\nsensorObject[\"ArduinoID\"]=values[4];\nsensorObject[\"DateTime\"]=new Date().toISOString();\nmsg.payload=sensorObject;//return json object as payload\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["21d6b868.1485b8"]]},{"id":"21d6b868.1485b8","type":"mongodb out","z":"4d781efd.d24c3","service":"_ext_","mongodb":"1e0479cf.82c366","name":"","collection":"NewReadings","payonly":false,"upsert":false,"multi":false,"operation":"store","x":830,"y":100,"wires":[]},{"id":"b32c9355.cdc2f","type":"function","z":"4d781efd.d24c3","name":"Check Temperature ","func":"if (global.get(\"abnormal_temp\")!==0){\n    msg.topic=\"Abnormal Temperature\";\n    msg.payload=\"We have observed an abonormal Temperature of \"+ global.get(\"abnormal_temp\");\n    return msg;\n}","outputs":1,"noerr":0,"x":430,"y":400,"wires":[[]]},{"id":"2e07121.31460ee","type":"inject","z":"4d781efd.d24c3","name":"Error Emails","topic":"Timer","payload":"null","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":"","x":440,"y":460,"wires":[["b32c9355.cdc2f"]]},{"id":"c1d4f4e0.6ec7e8","type":"function","z":"4d781efd.d24c3","name":"Temperature","func":"msg.payload = msg.payload.trim();//remove newline\nvar values = msg.payload.split(\" \");//break comma-seperated sensor values into an array\nmsg.payload= values[1];\nif(!((values[1]<24) || (values[1]>36))){\n    global.set(\"abnormal_temp\",values[1]);\n}\nelse{\n    global.set(\"abnormal_temp\",1);\n}\nreturn msg","outputs":"1","noerr":0,"x":410,"y":220,"wires":[["52e50de9.654ce4"]]},{"id":"56bf664c.81e258","type":"debug","z":"4d781efd.d24c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":280,"wires":[]},{"id":"450de7f.901eb18","type":"function","z":"4d781efd.d24c3","name":"ElectroConductivity","func":"msg.payload = msg.payload.trim();//remove newline\nvar values = msg.payload.split(\" \");//break comma-seperated sensor values into an array\nmsg.payload= values[2];\nif(values[2]>40){\n    global.set(\"abnormal_ec\",values[2]);\n}\nelse{\n    global.set(\"abnormal_ec\",0);\n}\nreturn msg","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["e46d1698.f9e3b8"]]},{"id":"c57b9336.fec3f","type":"function","z":"4d781efd.d24c3","name":"pH","func":"msg.payload = msg.payload.trim();//remove newline\nvar values = msg.payload.split(\" \");//break comma-seperated sensor values into an array\nmsg.payload= values[0];\nif(!((values[0]<6.8) || (values[0]>8.5))){\n    global.set(\"abnormal_ph\",values[0]);\n}\nelse{\n    global.set(\"abnormal_ph\",0);\n}\nreturn msg","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["694d54de.94af0c"]]},{"id":"cdb20bfc.f1e578","type":"function","z":"4d781efd.d24c3","name":"Fish Tank","func":"msg.payload = msg.payload.trim();//remove newline\nvar values = msg.payload.split(\" \");//break comma-seperated sensor values into an array\nvar state = values[3];\nif(state==1){\n    global.set(\"abnormal_waterlevel\",values[3]);\n    msg.payload = \"LEAKING NOW\";\n}\nelse{\n    global.set(\"abnormal_waterlevel\",0);\n    msg.payload= \"Not Leaking\";\n}\n//msg.payload=state;\nreturn msg","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["9d9d2cf.454e6d"]]},{"id":"52e50de9.654ce4","type":"ui_gauge","z":"4d781efd.d24c3","name":"","group":"5608459b.edc4ac","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature (24 to 36)","label":"Degree Celsius","format":"{{value}}","min":0,"max":"100","colors":["#c50214","#e6e600","#c50214"],"seg1":"23","seg2":"37","x":660,"y":220,"wires":[]},{"id":"694d54de.94af0c","type":"ui_gauge","z":"4d781efd.d24c3","name":"","group":"b29a4887.b5f348","order":0,"width":0,"height":0,"gtype":"gage","title":"ph Gauge  (6.7 to 8.6)","label":"units","format":"{{value}}","min":0,"max":"14","colors":["#c50214","#e6e600","#c50214"],"seg1":"6.7","seg2":"8.6","x":660,"y":160,"wires":[]},{"id":"bf6c09fc.e4de58","type":"serial in","z":"4d781efd.d24c3","name":"Arduino","serial":"5807fa08.411174","x":110,"y":420,"wires":[["c57b9336.fec3f","c1d4f4e0.6ec7e8","450de7f.901eb18","cdb20bfc.f1e578"]]},{"id":"9d9d2cf.454e6d","type":"ui_text","z":"4d781efd.d24c3","group":"5eb042b3.e8dd0c","order":1,"width":0,"height":0,"name":"","label":"Fish Tank State","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":340,"wires":[]},{"id":"e46d1698.f9e3b8","type":"ui_gauge","z":"4d781efd.d24c3","name":"","group":"c4c61579.305f58","order":1,"width":0,"height":0,"gtype":"gage","title":"Electroconductivity (35 to 87)","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"34","seg2":"88","x":700,"y":280,"wires":[]},{"id":"1e0479cf.82c366","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"aquadb","name":""},{"id":"5608459b.edc4ac","type":"ui_group","z":"","name":"Temperature","tab":"23894a48.8f2e06","order":2,"disp":true,"width":"6","collapse":true},{"id":"b29a4887.b5f348","type":"ui_group","z":"","name":"pH","tab":"f6bcaed0.01925","order":1,"disp":true,"width":"6","collapse":false},{"id":"5807fa08.411174","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"5eb042b3.e8dd0c","type":"ui_group","z":"","name":"Fish Tank","tab":"b166f4d.8e31a08","order":1,"disp":true,"width":"6","collapse":false},{"id":"c4c61579.305f58","type":"ui_group","z":"","name":"EC","tab":"93259be9.81f148","order":1,"disp":true,"width":"6","collapse":false},{"id":"23894a48.8f2e06","type":"ui_tab","z":"","name":"Temperature","icon":"fa-thermometer","order":2,"disabled":false,"hidden":false},{"id":"f6bcaed0.01925","type":"ui_tab","z":"","name":"pH","icon":"fa-heartbeat","order":1,"disabled":false,"hidden":false},{"id":"b166f4d.8e31a08","type":"ui_tab","z":"","name":"Fish Tank","icon":"fa-archive","order":4,"disabled":false,"hidden":false},{"id":"93259be9.81f148","type":"ui_tab","z":"","name":"Electroconductivity","icon":"fa-bolt","order":3,"disabled":false,"hidden":false}]
